@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.wrapper {
  padding: 0 4rem;
}
/* navbar section */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 8rem;
  background: #200c4d;
  /* position: sticky;
  top: 0;
  width: 100%;
  z-index: 100; */
}
.logo a {
  color: var(--White, #fff);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.65);
  font-family: Figtree;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: capitalize;
}
.nav-items {
  display: flex;
  gap: 2rem;
}
.nav-link {
  color: var(--White, #fff);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.65);
  font-family: Figtree;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.42px;
  /* text-transform: capitalize; */
}
/* header section  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #200c4d;
  padding: 6rem 8rem;
  gap: 2rem;
}
.header-content-container {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.header-content-header {
  color: #01c5fb;
  font-family: Figtree;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-content {
  color: var(--White, #fff);
  font-family: Figtree;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 129.032% */
  max-width: 500px;
}
.header-content-btn {
  color: var(--White, #fff);
  font-family: Figtree;
  font-size: 1rem;
  font-style: normal;
  display: flex;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #864afc;
  max-width: 170px;
}
.header-img-container {
  max-width: 630px;
  display: flex;
  justify-content: flex-end;
  flex: 0.5;
}
.header-img-container img {
  width: 100%;
}

/* features section  */
.features {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6rem 8rem;
}
.features-header {
  color: var(--purple, #260030);
  text-align: center;
  font-family: Figtree;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.features-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.features-card-wrapper {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 400px;
  border-radius: 1rem;
  background: #f8f8f8;
}

.features-card-header {
  color: var(--Dark-Grey, #2c2c2c);
  text-align: center;
  font-family: Figtree;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.features-card-content {
  color: var(--parah, #5f5f5f);
  text-align: center;
  font-family: Figtree;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 158.824% */
}
/* support section  */
.support {
  padding: 6rem 8rem;
  /* background-color: #200c4d; */
  background: url(../src/assets/images/support-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.support-content {
  color: var(--White, #fff);
  font-family: Figtree;
  font-size: 2.5rem;
  font-weight: 800;
  max-width: 630px;
}

/* apps section */
.apps {
  padding: 6rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.apps-nav-items {
  display: flex;
  justify-content: center;
  gap: 2.3rem;
  list-style-type: none;
}
.apps-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem;
  border-radius: 1rem;
  width: 200px;
  height: 160px;
  cursor: pointer;
}
.engage-item {
  background: #f0f7ff;
}
.connect-item {
  background: #ffeded;
}
.care-item {
  background: #e7f6e9;
}
.entertain-item {
  background: #f4e7f6;
}
.learn-item {
  background: #f9f6db;
}
.apps-nav-item-header {
  color: var(--Dark-Grey, #2c2c2c);
  font-family: Figtree;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.apps-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}
.apps-overview-header {
  color: var(--Dark-Grey, #2c2c2c);
  font-family: Figtree;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.apps-overview-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 35px;
  background: rgba(0, 122, 255, 0.06);
  padding: 3rem 5rem;
  max-width: 1444px;
}
.apps-overview-img-container {
  margin-top: -10.5rem;
}
.apps-overview-content-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.apps-overview-description {
  color: #000;
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
  max-width: 828px;
}
.apps-overview-card-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 1.4rem;
}
.apps-overview-card1,
.apps-overview-card2 {
  display: flex;
  gap: 1.4rem;
  width: 100%;
}
.apps-overview-card {
  padding: 1.5rem 3rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex: 0.5;
  /* width: 400px; */
  border-radius: 15px;
  border: 1px solid #b8d8fd;
  background: #d6e9ff;
}
.apps-overview-card-header {
  color: var(--Dark-Grey, #2c2c2c);
  margin-bottom: 0.5rem;
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}
.apps-overview-card-content {
  color: var(--parah, #5f5f5f);
  font-family: Figtree;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.apps-overview-carousel {
  padding: 2.8rem 1.5rem 2.8rem 3rem;
  border-radius: 25px;
  background: var(--White, #fff);
}
.apps-overview-carousel-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.apps-overview-carousel-card-header {
  color: var(--Dark-Grey, #2c2c2c);
  font-family: Figtree;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.aps-overview-carousel-card-content {
  color: var(--parah, #5f5f5f);
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  max-width: 648px;
}
/* crew engagment section  */

.crew-engagment {
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: #f4f5f5;
}
.crew-engagment-header {
  color: var(--purple, #260030);
  text-align: center;
  font-family: Figtree;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 77.143% */
}
.crew-engagment-btn {
  color: var(--light-grey, #f3f3f3);
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 3rem;
  padding: 1rem 2.5rem;
  background: #864afc;
}

@media only screen and (max-width: 1200px) {
  .apps-overview-container {
    flex-direction: column;
  }
  .apps-overview-img-container {
    margin-top: 0;
    transform: rotate(-45deg);
  }
  .apps-overview-card1,
  .apps-overview-card2 {
    flex-direction: column !important;
  }
  /* .apps-overview-card {
    flex: 1 !important;
  } */
}

/* styles */

/* border-radius: 35px;
background: #FFEDED; */

/* second */

/* border-radius: 15px;
border: 1px solid #FFC2C2;
background: #FFCFCF; */

/* ///////// */

/* border-radius: 35px;
background: #E7F6E8; */

/* second */

/* border-radius: 15px;
border: 1px solid var(--White, #FFF);
background: #C4EEC7; */

/* ///////// */

/* border-radius: 35px;
background: #F4E7F6; */

/* second */

/* border-radius: 15px;
background: #E5BDEC; */

/* ///////// */

/* border-radius: 35px;
background: #F8F6DB; */

/* second */

/* border-radius: 15px;
background: #EAE59B; */

/* ///////// */

/* border-radius: 36px;
background: #fff6fb; */

/* background: #F4F9FF; */

/* #FC7414 nav btn logo*/
